# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AT_Investment\BumpersZS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
